# Data Preparation
Generation of different datasets
* full dataset by concatenating files, finding quarter
* label dataset by extracting 10% of full dataset

## Install and import required libraries

In [ ]:
import pandas as pd
import glob
import os
from google.colab import drive
from sklearn.utils import shuffle
import datetime

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Create datasets

In [ ]:
# create full dataset
path = r'/content/drive/MyDrive/cz4034 IR project/crawling/initial datasets/' # use your path
all_files = glob.glob(os.path.join(path , "*.csv"))

li = []

for filename in all_files:
  data = pd.read_csv(filename, lineterminator='\n')
  # .stem is method for pathlib objects to get the filename w/o the extension
  # data['file'] = f.stem
  li.append(data)

frame = pd.concat(li, axis=0, ignore_index=True)

In [ ]:
# # create label dataset

# path = r'/content/drive/MyDrive/cz4034 IR project/crawling/initial datasets/' # use your path
# all_files = glob.glob(os.path.join(path , "*.csv"))

# li = []

# for filename in all_files:
#   data = pd.read_csv(filename)
#   data = shuffle(data).reset_index(drop=True)
#   data = data.iloc[:200] 
#   # .stem is method for pathlib objects to get the filename w/o the extension
#   # data['file'] = f.stem
#   li.append(data)

# frame = pd.concat(li, axis=0, ignore_index=True)

In [ ]:
frame

,Datetime,Text,Likes,Clean Text,NFT,vader,textblob
0,2023-02-13 16:56:00+00:00,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#1800 ...,2,mutant ape yacht club mayc nft sold eth k,Mutant Ape Yacht Club,neu,neu
1,2023-02-13 16:29:03+00:00,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#8202 ...,3,mutant ape yacht club mayc nft sold eth k,Mutant Ape Yacht Club,neu,neu
2,2023-02-13 16:27:25+00:00,11x Mutant Ape Yacht Club\nTotal cost: 170.130...,0,x mutant ape yacht club total cost average cos...,Mutant Ape Yacht Club,pos,neg
3,2023-02-13 16:12:53+00:00,Public sale is Live! @cybotz_nftðŸš€\n\nTop 10 #N...,1,public sale live cybotz nft top nft sale last ...,Mutant Ape Yacht Club,neg,neg
4,2023-02-13 15:28:20+00:00,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#4091 ...,3,mutant ape yacht club mayc nft sold eth k,Mutant Ape Yacht Club,neu,neu
...,...,...,...,...,...,...,...
20291,2021-04-23 01:22:23+00:00,Getting zen anticipating the Bored Ape Yacht C...,27,getting zen anticipating bored ape yacht club ...,Bored Ape Yacht Club,neg,neg
20292,2021-04-22 21:08:27+00:00,What's THE BATHROOM?\n\nThe Bored Ape Yacht Cl...,33,bathroom bored ape yacht club member feature a...,Bored Ape Yacht Club,pos,pos
20293,2021-04-20 00:34:08+00:00,"Bored Ape Yacht Club\n\n10,000 programmaticall...",136,bored ape yacht club 10 0 programmatically gen...,Bored Ape Yacht Club,neg,neg
20294,2021-04-17 22:07:03+00:00,"The Bored Ape Yacht Club is more than just 10,...",19,bored ape yacht club 10 0 unique avatar bored ...,Bored Ape Yacht Club,neg,neg
20295,2021-04-17 04:32:58+00:00,"Want to win 1 $ETH?\n\nOur #NFT project, Bored...",43,want win 1 eth nft project bored ape yacht clu...,Bored Ape Yacht Club,pos,pos

## Extracting quarters

In [ ]:
frame['Datetime'] = frame['Datetime'].map(lambda Datetime: Datetime.split()[0])

frame

,Datetime,Text,Likes,Clean Text,NFT,vader,textblob
0,2023-02-13,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#1800 ...,2,mutant ape yacht club mayc nft sold eth k,Mutant Ape Yacht Club,neu,neu
1,2023-02-13,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#8202 ...,3,mutant ape yacht club mayc nft sold eth k,Mutant Ape Yacht Club,neu,neu
2,2023-02-13,11x Mutant Ape Yacht Club\nTotal cost: 170.130...,0,x mutant ape yacht club total cost average cos...,Mutant Ape Yacht Club,pos,neg
3,2023-02-13,Public sale is Live! @cybotz_nftðŸš€\n\nTop 10 #N...,1,public sale live cybotz nft top nft sale last ...,Mutant Ape Yacht Club,neg,neg
4,2023-02-13,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#4091 ...,3,mutant ape yacht club mayc nft sold eth k,Mutant Ape Yacht Club,neu,neu
...,...,...,...,...,...,...,...
20291,2021-04-23,Getting zen anticipating the Bored Ape Yacht C...,27,getting zen anticipating bored ape yacht club ...,Bored Ape Yacht Club,neg,neg
20292,2021-04-22,What's THE BATHROOM?\n\nThe Bored Ape Yacht Cl...,33,bathroom bored ape yacht club member feature a...,Bored Ape Yacht Club,pos,pos
20293,2021-04-20,"Bored Ape Yacht Club\n\n10,000 programmaticall...",136,bored ape yacht club 10 0 programmatically gen...,Bored Ape Yacht Club,neg,neg
20294,2021-04-17,"The Bored Ape Yacht Club is more than just 10,...",19,bored ape yacht club 10 0 unique avatar bored ...,Bored Ape Yacht Club,neg,neg
20295,2021-04-17,"Want to win 1 $ETH?\n\nOur #NFT project, Bored...",43,want win 1 eth nft project bored ape yacht clu...,Bored Ape Yacht Club,pos,pos

In [ ]:
frame['Datetime'] = frame['Datetime'].apply(pd.to_datetime)

frame

,Datetime,Text,Likes,Clean Text,NFT,vader,textblob
0,2023-02-13,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#1800 ...,2,mutant ape yacht club mayc nft sold eth k,Mutant Ape Yacht Club,neu,neu
1,2023-02-13,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#8202 ...,3,mutant ape yacht club mayc nft sold eth k,Mutant Ape Yacht Club,neu,neu
2,2023-02-13,11x Mutant Ape Yacht Club\nTotal cost: 170.130...,0,x mutant ape yacht club total cost average cos...,Mutant Ape Yacht Club,pos,neg
3,2023-02-13,Public sale is Live! @cybotz_nftðŸš€\n\nTop 10 #N...,1,public sale live cybotz nft top nft sale last ...,Mutant Ape Yacht Club,neg,neg
4,2023-02-13,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#4091 ...,3,mutant ape yacht club mayc nft sold eth k,Mutant Ape Yacht Club,neu,neu
...,...,...,...,...,...,...,...
20291,2021-04-23,Getting zen anticipating the Bored Ape Yacht C...,27,getting zen anticipating bored ape yacht club ...,Bored Ape Yacht Club,neg,neg
20292,2021-04-22,What's THE BATHROOM?\n\nThe Bored Ape Yacht Cl...,33,bathroom bored ape yacht club member feature a...,Bored Ape Yacht Club,pos,pos
20293,2021-04-20,"Bored Ape Yacht Club\n\n10,000 programmaticall...",136,bored ape yacht club 10 0 programmatically gen...,Bored Ape Yacht Club,neg,neg
20294,2021-04-17,"The Bored Ape Yacht Club is more than just 10,...",19,bored ape yacht club 10 0 unique avatar bored ...,Bored Ape Yacht Club,neg,neg
20295,2021-04-17,"Want to win 1 $ETH?\n\nOur #NFT project, Bored...",43,want win 1 eth nft project bored ape yacht clu...,Bored Ape Yacht Club,pos,pos

In [ ]:
def check_quarter(target_date):
  # 2021
  first_start_21 = datetime.datetime.strptime("2021-01-01", "%Y-%m-%d")
  first_end_21 = datetime.datetime.strptime("2021-03-31", "%Y-%m-%d")

  second_start_21 = datetime.datetime.strptime("2021-04-01", "%Y-%m-%d")
  second_end_21 = datetime.datetime.strptime("2021-06-30", "%Y-%m-%d")

  third_start_21 = datetime.datetime.strptime("2021-07-01", "%Y-%m-%d")
  third_end_21 = datetime.datetime.strptime("2021-09-30", "%Y-%m-%d")

  fourth_start_21 = datetime.datetime.strptime("2021-10-01", "%Y-%m-%d")
  fourth_end_21 = datetime.datetime.strptime("2021-12-31", "%Y-%m-%d")

  # 2022
  first_start_22 = datetime.datetime.strptime("2022-01-01", "%Y-%m-%d")
  first_end_22 = datetime.datetime.strptime("2022-03-31", "%Y-%m-%d")

  second_start_22 = datetime.datetime.strptime("2022-04-01", "%Y-%m-%d")
  second_end_22 = datetime.datetime.strptime("2022-06-30", "%Y-%m-%d")

  third_start_22 = datetime.datetime.strptime("2022-07-01", "%Y-%m-%d")
  third_end_22 = datetime.datetime.strptime("2022-09-30", "%Y-%m-%d")

  fourth_start_22 = datetime.datetime.strptime("2022-10-01", "%Y-%m-%d")
  fourth_end_22 = datetime.datetime.strptime("2022-12-31", "%Y-%m-%d")

  # 2023
  first_start_23 = datetime.datetime.strptime("2023-01-01", "%Y-%m-%d")
  first_end_23 = datetime.datetime.strptime("2023-03-31", "%Y-%m-%d")

  # 2021
  if first_start_21 <= target_date <= first_end_21:
    return 11
  elif second_start_21 <= target_date <= second_end_21:
    return 12
  elif third_start_21 <= target_date <= third_end_21:
    return 13
  elif fourth_start_21 <= target_date <= fourth_end_21:
    return 14
  
  # 2022
  elif first_start_22 <= target_date <= first_end_22:
    return 21
  elif second_start_22 <= target_date <= second_end_22:
    return 22
  elif third_start_22 <= target_date <= third_end_22:
    return 23
  elif fourth_start_22 <= target_date <= fourth_end_22:
    return 24
  
  # 2023
  elif first_start_23 <= target_date <= first_end_23:
    return 31

In [ ]:
frame['Quarter'] = frame['Datetime'].map(lambda Datetime: check_quarter(Datetime))

frame

,Datetime,Text,Likes,Clean Text,NFT,vader,textblob,Quarter
0,2023-02-13,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#1800 ...,2,mutant ape yacht club mayc nft sold eth k,Mutant Ape Yacht Club,neu,neu,31
1,2023-02-13,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#8202 ...,3,mutant ape yacht club mayc nft sold eth k,Mutant Ape Yacht Club,neu,neu,31
2,2023-02-13,11x Mutant Ape Yacht Club\nTotal cost: 170.130...,0,x mutant ape yacht club total cost average cos...,Mutant Ape Yacht Club,pos,neg,31
3,2023-02-13,Public sale is Live! @cybotz_nftðŸš€\n\nTop 10 #N...,1,public sale live cybotz nft top nft sale last ...,Mutant Ape Yacht Club,neg,neg,31
4,2023-02-13,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#4091 ...,3,mutant ape yacht club mayc nft sold eth k,Mutant Ape Yacht Club,neu,neu,31
...,...,...,...,...,...,...,...,...
20291,2021-04-23,Getting zen anticipating the Bored Ape Yacht C...,27,getting zen anticipating bored ape yacht club ...,Bored Ape Yacht Club,neg,neg,12
20292,2021-04-22,What's THE BATHROOM?\n\nThe Bored Ape Yacht Cl...,33,bathroom bored ape yacht club member feature a...,Bored Ape Yacht Club,pos,pos,12
20293,2021-04-20,"Bored Ape Yacht Club\n\n10,000 programmaticall...",136,bored ape yacht club 10 0 programmatically gen...,Bored Ape Yacht Club,neg,neg,12
20294,2021-04-17,"The Bored Ape Yacht Club is more than just 10,...",19,bored ape yacht club 10 0 unique avatar bored ...,Bored Ape Yacht Club,neg,neg,12
20295,2021-04-17,"Want to win 1 $ETH?\n\nOur #NFT project, Bored...",43,want win 1 eth nft project bored ape yacht clu...,Bored Ape Yacht Club,pos,pos,12

## Export data

In [ ]:
frame.columns

Index(['Datetime', 'Text', 'Likes', 'Clean Text', 'NFT', 'vader', 'textblob',
       'Quarter'],
      dtype='object')

In [ ]:
new_cols = ['Datetime','Quarter', 'Likes', 'NFT', 'Text', 'Clean Text', 'vader', 'textblob']

In [ ]:
frame = frame.reindex(columns=new_cols)

frame

,Datetime,Quarter,Likes,NFT,Text,Clean Text,vader,textblob
0,2023-02-13,31,2,Mutant Ape Yacht Club,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#1800 ...,mutant ape yacht club mayc nft sold eth k,neu,neu
1,2023-02-13,31,3,Mutant Ape Yacht Club,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#8202 ...,mutant ape yacht club mayc nft sold eth k,neu,neu
2,2023-02-13,31,0,Mutant Ape Yacht Club,11x Mutant Ape Yacht Club\nTotal cost: 170.130...,x mutant ape yacht club total cost average cos...,pos,neg
3,2023-02-13,31,1,Mutant Ape Yacht Club,Public sale is Live! @cybotz_nftðŸš€\n\nTop 10 #N...,public sale live cybotz nft top nft sale last ...,neg,neg
4,2023-02-13,31,3,Mutant Ape Yacht Club,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#4091 ...,mutant ape yacht club mayc nft sold eth k,neu,neu
...,...,...,...,...,...,...,...,...
20291,2021-04-23,12,27,Bored Ape Yacht Club,Getting zen anticipating the Bored Ape Yacht C...,getting zen anticipating bored ape yacht club ...,neg,neg
20292,2021-04-22,12,33,Bored Ape Yacht Club,What's THE BATHROOM?\n\nThe Bored Ape Yacht Cl...,bathroom bored ape yacht club member feature a...,pos,pos
20293,2021-04-20,12,136,Bored Ape Yacht Club,"Bored Ape Yacht Club\n\n10,000 programmaticall...",bored ape yacht club 10 0 programmatically gen...,neg,neg
20294,2021-04-17,12,19,Bored Ape Yacht Club,"The Bored Ape Yacht Club is more than just 10,...",bored ape yacht club 10 0 unique avatar bored ...,neg,neg
20295,2021-04-17,12,43,Bored Ape Yacht Club,"Want to win 1 $ETH?\n\nOur #NFT project, Bored...",want win 1 eth nft project bored ape yacht clu...,pos,pos

In [ ]:
# # for labeling
# import numpy as np

# frame['Polarity'] = np.nan

# frame

In [ ]:
frame.to_csv('/content/drive/MyDrive/cz4034 IR project/Datasets/full_dataset.csv', index = False)
#frame.to_csv('/content/drive/MyDrive/cz4034 IR project/Datasets/label_dataset.csv', index = False)

## Check data

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/cz4034 IR project/Datasets/full_dataset.csv', lineterminator='\n')
#df = pd.read_csv('/content/drive/MyDrive/cz4034 IR project/Datasets/label_dataset.csv')

df

,Datetime,Quarter,Likes,NFT,Text,Clean Text,vader,textblob
0,2023-02-13,31,2,Mutant Ape Yacht Club,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#1800 ...,mutant ape yacht club mayc nft sold eth k,neu,neu
1,2023-02-13,31,3,Mutant Ape Yacht Club,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#8202 ...,mutant ape yacht club mayc nft sold eth k,neu,neu
2,2023-02-13,31,0,Mutant Ape Yacht Club,11x Mutant Ape Yacht Club\nTotal cost: 170.130...,x mutant ape yacht club total cost average cos...,pos,neg
3,2023-02-13,31,1,Mutant Ape Yacht Club,Public sale is Live! @cybotz_nftðŸš€\n\nTop 10 #N...,public sale live cybotz nft top nft sale last ...,neg,neg
4,2023-02-13,31,3,Mutant Ape Yacht Club,ðŸ§ª Mutant Ape Yacht Club | #MAYC #NFT\n\n#4091 ...,mutant ape yacht club mayc nft sold eth k,neu,neu
...,...,...,...,...,...,...,...,...
20291,2021-04-23,12,27,Bored Ape Yacht Club,Getting zen anticipating the Bored Ape Yacht C...,getting zen anticipating bored ape yacht club ...,neg,neg
20292,2021-04-22,12,33,Bored Ape Yacht Club,What's THE BATHROOM?\n\nThe Bored Ape Yacht Cl...,bathroom bored ape yacht club member feature a...,pos,pos
20293,2021-04-20,12,136,Bored Ape Yacht Club,"Bored Ape Yacht Club\n\n10,000 programmaticall...",bored ape yacht club 10 0 programmatically gen...,neg,neg
20294,2021-04-17,12,19,Bored Ape Yacht Club,"The Bored Ape Yacht Club is more than just 10,...",bored ape yacht club 10 0 unique avatar bored ...,neg,neg
20295,2021-04-17,12,43,Bored Ape Yacht Club,"Want to win 1 $ETH?\n\nOur #NFT project, Bored...",want win 1 eth nft project bored ape yacht clu...,pos,pos

In [ ]:
#try_df = df.loc[df['NFT'] == 'Mutant Ape Yacht Club']
#try_df = df.loc[df['NFT'] == 'Azuki']
try_df = df.loc[df['NFT'] == 'Bored Ape Yacht Club']
#try_df = df.loc[df['NFT'] == 'CloneX']
#try_df = df.loc[df['NFT'] == 'Meebits']
#try_df = df.loc[df['NFT'] == 'The Potatoz']
#try_df = df.loc[df['NFT'] == 'CryptoPunks']
#try_df = df.loc[df['NFT'] == 'Phanta Bear']
#try_df = df.loc[df['NFT'] == 'MekaVerse']
#try_df = df.loc[df['NFT'] == 'Pixelmon']

try_df

,Datetime,Quarter,Likes,NFT,Text,Clean Text,vader,textblob
17375,2023-02-19,31,0,Bored Ape Yacht Club,Public sale is Live! @cybotz_nftðŸš€\n\nTop 10 #N...,public sale live cybotz nft top 10 nft sale la...,neg,pos
17376,2023-02-19,31,1,Bored Ape Yacht Club,NFT bedrijf achter Bored Ape Yacht Club beschu...,nft bedrijf achter bored ape yacht club beschu...,neg,neg
17377,2023-02-19,31,0,Bored Ape Yacht Club,Top 5 trading volumeðŸ’° in the past hour\n\nðŸ’°Vol...,top 5 trading volume past hour volume bored ap...,neg,neg
17378,2023-02-19,31,0,Bored Ape Yacht Club,"Wylie Aronow, the co-founder of Yuga Labs, den...",wylie aronow co founder yuga lab denied accusa...,neg,neg
17379,2023-02-19,31,0,Bored Ape Yacht Club,ðŸš¨ðŸš¨ðŸš¨ NFT Big Trade\n\nâž¡ï¸Transfer: [0x439ad4] -&...,nft big trade transfer 0x439ad4 gt 0xed2ab4 nf...,neu,neg
...,...,...,...,...,...,...,...,...
20291,2021-04-23,12,27,Bored Ape Yacht Club,Getting zen anticipating the Bored Ape Yacht C...,getting zen anticipating bored ape yacht club ...,neg,neg
20292,2021-04-22,12,33,Bored Ape Yacht Club,What's THE BATHROOM?\n\nThe Bored Ape Yacht Cl...,bathroom bored ape yacht club member feature a...,pos,pos
20293,2021-04-20,12,136,Bored Ape Yacht Club,"Bored Ape Yacht Club\n\n10,000 programmaticall...",bored ape yacht club 10 0 programmatically gen...,neg,neg
20294,2021-04-17,12,19,Bored Ape Yacht Club,"The Bored Ape Yacht Club is more than just 10,...",bored ape yacht club 10 0 unique avatar bored ...,neg,neg
20295,2021-04-17,12,43,Bored Ape Yacht Club,"Want to win 1 $ETH?\n\nOur #NFT project, Bored...",want win 1 eth nft project bored ape yacht clu...,pos,pos

In [ ]:
try_df['Quarter'].value_counts()

13    411
24    406
31    402
22    396
23    394
14    389
21    364
12    159
Name: Quarter, dtype: int64